---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"e329df5f-646b-41e4-9dfd-627c5844f80f","expires_at":"2018-10-18T12:57:59.356Z"}'
  recorded_at: Thu, 18 Oct 2018 12:37:59 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="e329df5f-646b-41e4-9dfd-627c5844f80f"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"name":"List 4","src":"http://todoable.teachable.tech/api/lists/e1ebc2d0-9f22-409c-8c84-d0266946b5d8","id":"e1ebc2d0-9f22-409c-8c84-d0266946b5d8"},{"name":"List
        1","src":"http://todoable.teachable.tech/api/lists/419d8090-020e-40e2-a26e-b950d640b4fa","id":"419d8090-020e-40e2-a26e-b950d640b4fa"},{"name":"List
        5","src":"http://todoable.teachable.tech/api/lists/0f165802-3eaf-424e-947a-a5e2e30aca15","id":"0f165802-3eaf-424e-947a-a5e2e30aca15"},{"name":"List
        2","src":"http://todoable.teachable.tech/api/lists/5409b9dd-9743-4353-b975-ecf58d37d589","id":"5409b9dd-9743-4353-b975-ecf58d3[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/419d8090-020e-40e2-a26e-b950d640b4fa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="e329df5f-646b-41e4-9dfd-627c5844f80f"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 12:38:10 GMT
[...]
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List 1"}}'
    headers:
      Authorization:
      - Token token="e329df5f-646b-41e4-9dfd-627c5844f80f"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/9718d581-4b06-4db8-adae-ae8db28dc1da
    body:
      encoding: UTF-8
      string: '{"name":"List 1","src":"http://todoable.teachable.tech/api/lists/9718d581-4b06-4db8-adae-ae8db28dc1da","id":"9718d581-4b06-4db8-adae-ae8db28dc1da"}'
  recorded_at: Thu, 18 Oct 2018 12:40:24 GMT
[...]
