---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"875dc1b0-8d6e-4d10-b732-fb2b1dbd43ae","expires_at":"2018-10-17T13:37:15.492Z"}'
  recorded_at: Wed, 17 Oct 2018 13:17:14 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="875dc1b0-8d6e-4d10-b732-fb2b1dbd43ae"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"My new List","src":"http://todoable.teachable.tech/api/lists/7ad41da8-1e81-4636-ae7f-5f2905974c31","id":"7ad41da8-1e81-4636-ae7f-5f2905974c31"},{"name":"Todo
        5","src":"http://todoable.teachable.tech/api/lists/084a6c73-be6b-4137-a762-43928a07e242","id":"084a6c73-be6b-4137-a762-43928a07e242"},{"name":"Todo
        1","src":"http://todoable.teachable.tech/api/lists/e0809de1-b00e-49fc-88ef-7e30e5b93551","id":"e0809de1-b00e-49fc-88ef-7e30e5b93551"},{"name":"Todo
        2","src":"http://todoable.teachable.tech/api/lists/24e888b9-322c-4791-8cb2-92cbefa83f14","id":"24e888b9-322c-4791-8cb2-92cbefa[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/2ba37be0-5fea-4316-8a92-b216597e85e4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="875dc1b0-8d6e-4d10-b732-fb2b1dbd43ae"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Oct 2018 13:17:16 GMT
[...]
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List 1"}}'
    headers:
      Authorization:
      - Token token="875dc1b0-8d6e-4d10-b732-fb2b1dbd43ae"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/20109588-a59d-49e1-80ca-5dc01554baf8
    body:
      encoding: UTF-8
      string: '{"name":"List 1","src":"http://todoable.teachable.tech/api/lists/20109588-a59d-49e1-80ca-5dc01554baf8","id":"20109588-a59d-49e1-80ca-5dc01554baf8"}'
  recorded_at: Wed, 17 Oct 2018 13:17:33 GMT
[...]
