---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"61ecab2f-fc5d-4f87-a640-8263317c01ff","expires_at":"2018-10-17T14:03:41.478Z"}'
  recorded_at: Wed, 17 Oct 2018 13:43:41 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="61ecab2f-fc5d-4f87-a640-8263317c01ff"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"My new List","src":"http://todoable.teachable.tech/api/lists/7ad41da8-1e81-4636-ae7f-5f2905974c31","id":"7ad41da8-1e81-4636-ae7f-5f2905974c31"},{"name":"List
        1","src":"http://todoable.teachable.tech/api/lists/20109588-a59d-49e1-80ca-5dc01554baf8","id":"20109588-a59d-49e1-80ca-5dc01554baf8"},{"name":"List
        2","src":"http://todoable.teachable.tech/api/lists/c605fb2c-1e41-4db7-b54a-042a7b7f23fa","id":"c605fb2c-1e41-4db7-b54a-042a7b7f23fa"},{"name":"List
        3","src":"http://todoable.teachable.tech/api/lists/851f6092-253a-4563-8eed-66d765bb9928","id":"851f6092-253a-4563-8eed-66d765b[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/20109588-a59d-49e1-80ca-5dc01554baf8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="61ecab2f-fc5d-4f87-a640-8263317c01ff"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Oct 2018 13:43:43 GMT
[...]
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List 1"}}'
    headers:
      Authorization:
      - Token token="61ecab2f-fc5d-4f87-a640-8263317c01ff"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/d25ff8b5-99c1-4cca-b801-98e2a6fe03ec
    body:
      encoding: UTF-8
      string: '{"name":"List 1","src":"http://todoable.teachable.tech/api/lists/d25ff8b5-99c1-4cca-b801-98e2a6fe03ec","id":"d25ff8b5-99c1-4cca-b801-98e2a6fe03ec"}'
  recorded_at: Wed, 17 Oct 2018 13:43:45 GMT
[...]
