---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"084a99c8-3ad9-4b3d-a463-25a09bc71182","expires_at":"2018-10-18T01:13:22.062Z"}'
  recorded_at: Thu, 18 Oct 2018 00:53:20 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"My new List"}}'
    headers:
      Authorization:
      - Token token="084a99c8-3ad9-4b3d-a463-25a09bc71182"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/27d6696e-acc8-4d81-a58a-b8ec233024e9
    body:
      encoding: UTF-8
      string: '{"name":"My new List","src":"http://todoable.teachable.tech/api/lists/27d6696e-acc8-4d81-a58a-b8ec233024e9","id":"27d6696e-acc8-4d81-a58a-b8ec233024e9"}'
  recorded_at: Thu, 18 Oct 2018 00:53:20 GMT
recorded_with: VCR 4.0.0
