---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"9de63d95-32f7-4935-b22b-6ba5ba736fe1","expires_at":"2018-10-17T12:46:33.635Z"}'
  recorded_at: Wed, 17 Oct 2018 12:26:32 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"My new List"}}'
    headers:
      Authorization:
      - Token token="9de63d95-32f7-4935-b22b-6ba5ba736fe1"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/7ad41da8-1e81-4636-ae7f-5f2905974c31
    body:
      encoding: UTF-8
      string: '{"name":"My new List","src":"http://todoable.teachable.tech/api/lists/7ad41da8-1e81-4636-ae7f-5f2905974c31","id":"7ad41da8-1e81-4636-ae7f-5f2905974c31"}'
  recorded_at: Wed, 17 Oct 2018 12:26:32 GMT
recorded_with: VCR 4.0.0
