---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"38ec44e7-9d22-445b-b3fc-18994afdce26","expires_at":"2018-10-14T22:16:22.697Z"}'
  recorded_at: Sun, 14 Oct 2018 21:56:22 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":""}}'
    headers:
      Authorization:
      - Token token="38ec44e7-9d22-445b-b3fc-18994afdce26"
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":["can''t be blank"]}'
  recorded_at: Sun, 14 Oct 2018 21:56:22 GMT
recorded_with: VCR 4.0.0
