---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"e41caae8-08d0-40a8-9607-2eaec607ef83","expires_at":"2018-10-18T20:39:10.158Z"}'
  recorded_at: Thu, 18 Oct 2018 20:19:10 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Updating item list"}}'
    headers:
      Authorization:
      - Token token="e41caae8-08d0-40a8-9607-2eaec607ef83"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/0d8e0e74-843a-4d07-9e8a-ad0a466896aa
    body:
      encoding: UTF-8
      string: '{"name":"Updating item list","src":"http://todoable.teachable.tech/api/lists/0d8e0e74-843a-4d07-9e8a-ad0a466896aa","id":"0d8e0e74-843a-4d07-9e8a-ad0a466896aa"}'
  recorded_at: Thu, 18 Oct 2018 20:19:15 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/0d8e0e74-843a-4d07-9e8a-ad0a466896aa/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Buy Kale!"}}'
    headers:
      Authorization:
      - Token token="e41caae8-08d0-40a8-9607-2eaec607ef83"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/0d8e0e74-843a-4d07-9e8a-ad0a466896aa/items/3577f042-b84d-486f-9732-3d8b4ed499af
    body:
      encoding: UTF-8
      string: '{"name":"Buy Kale!","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/0d8e0e74-843a-4d07-9e8a-ad0a466896aa/items/3577f042-b84d-486f-9732-3d8b4ed499af","id":"3577f042-b84d-486f-9732-3d8b4ed499af"}'
  recorded_at: Thu, 18 Oct 2018 20:19:23 GMT
- request:
    method: put
    uri: http://todoable.teachable.tech/api/lists/0d8e0e74-843a-4d07-9e8a-ad0a466896aa/items/3577f042-b84d-486f-9732-3d8b4ed499af/finish
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Token token="e41caae8-08d0-40a8-9607-2eaec607ef83"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Buy Kale! finished
  recorded_at: Thu, 18 Oct 2018 20:19:33 GMT
recorded_with: VCR 4.0.0
