---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"8d27a701-1c37-429e-82ee-99e431d9c561","expires_at":"2018-10-17T23:31:24.865Z"}'
  recorded_at: Wed, 17 Oct 2018 23:11:23 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Updating an item"}}'
    headers:
      Authorization:
      - Token token="8d27a701-1c37-429e-82ee-99e431d9c561"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/d1b940df-ebaf-4dd6-8fcf-34c86573ebd9
    body:
      encoding: UTF-8
      string: '{"name":"Updating an item","src":"http://todoable.teachable.tech/api/lists/d1b940df-ebaf-4dd6-8fcf-34c86573ebd9","id":"d1b940df-ebaf-4dd6-8fcf-34c86573ebd9"}'
  recorded_at: Wed, 17 Oct 2018 23:11:24 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/d1b940df-ebaf-4dd6-8fcf-34c86573ebd9/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Buy Milk!"}}'
    headers:
      Authorization:
      - Token token="8d27a701-1c37-429e-82ee-99e431d9c561"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/d1b940df-ebaf-4dd6-8fcf-34c86573ebd9/items/476c87c9-07c2-42b0-9192-629baef47f6a
    body:
      encoding: UTF-8
      string: '{"name":"Buy Milk!","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/d1b940df-ebaf-4dd6-8fcf-34c86573ebd9/items/476c87c9-07c2-42b0-9192-629baef47f6a","id":"476c87c9-07c2-42b0-9192-629baef47f6a"}'
  recorded_at: Wed, 17 Oct 2018 23:11:33 GMT
recorded_with: VCR 4.0.0
