---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"158fd377-c99d-4ab8-8b0e-bb797c0f4756","expires_at":"2018-10-17T15:50:58.629Z"}'
  recorded_at: Wed, 17 Oct 2018 15:30:56 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="158fd377-c99d-4ab8-8b0e-bb797c0f4756"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"My new List","src":"http://todoable.teachable.tech/api/lists/7ad41da8-1e81-4636-ae7f-5f2905974c31","id":"7ad41da8-1e81-4636-ae7f-5f2905974c31"},{"name":"Testing
        List","src":"http://todoable.teachable.tech/api/lists/929bda84-b2e2-459f-b62d-4d76f58e96f0","id":"929bda84-b2e2-459f-b62d-4d76f58e96f0"},{"name":"List
        for retrieval","src":"http://todoable.teachable.tech/api/lists/105a47df-e541-47f7-ac82-b2dc4dcc3e77","id":"105a47df-e541-47f7-ac82-b2dc4dcc3e77"},{"name":"List
        1","src":"http://todoable.teachable.tech/api/lists/d25ff8b5-99c1-4cca-b801-98e2a6fe03ec","id":"d25ff8b5-99c1[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/105a47df-e541-47f7-ac82-b2dc4dcc3e77
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="158fd377-c99d-4ab8-8b0e-bb797c0f4756"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Oct 2018 15:31:00 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List for retrieval"}}'
    headers:
      Authorization:
      - Token token="158fd377-c99d-4ab8-8b0e-bb797c0f4756"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/b1913ce2-78bc-44c6-8a09-0b5d59731ba2
    body:
      encoding: UTF-8
      string: '{"name":"List for retrieval","src":"http://todoable.teachable.tech/api/lists/b1913ce2-78bc-44c6-8a09-0b5d59731ba2","id":"b1913ce2-78bc-44c6-8a09-0b5d59731ba2"}'
  recorded_at: Wed, 17 Oct 2018 15:31:03 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/b1913ce2-78bc-44c6-8a09-0b5d59731ba2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="158fd377-c99d-4ab8-8b0e-bb797c0f4756"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"List for retrieval","items":[]}'
  recorded_at: Wed, 17 Oct 2018 15:31:11 GMT
recorded_with: VCR 4.0.0
