---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"93da02cc-5c85-45d6-841b-9a0674dd8635","expires_at":"2018-10-18T13:01:12.360Z"}'
  recorded_at: Thu, 18 Oct 2018 12:41:12 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="93da02cc-5c85-45d6-841b-9a0674dd8635"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"name":"List 1","src":"http://todoable.teachable.tech/api/lists/9718d581-4b06-4db8-adae-ae8db28dc1da","id":"9718d581-4b06-4db8-adae-ae8db28dc1da"},{"name":"List
        2","src":"http://todoable.teachable.tech/api/lists/41c68192-ecee-4040-8f50-3357b1236de6","id":"41c68192-ecee-4040-8f50-3357b1236de6"},{"name":"List
        for retrieval","src":"http://todoable.teachable.tech/api/lists/070c36d0-2840-4f08-8a2b-afb668de5c51","id":"070c36d0-2840-4f08-8a2b-afb668de5c51"},{"name":"List
        3","src":"http://todoable.teachable.tech/api/lists/4477011a-a73e-45ba-8ebd-342164564212","id":"4477011a-a73e-45ba-[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/070c36d0-2840-4f08-8a2b-afb668de5c51
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="93da02cc-5c85-45d6-841b-9a0674dd8635"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 12:41:18 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List for retrieval"}}'
    headers:
      Authorization:
      - Token token="93da02cc-5c85-45d6-841b-9a0674dd8635"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/1c22874a-2c1e-46ea-bb15-4fcbaa8d55da
    body:
      encoding: UTF-8
      string: '{"name":"List for retrieval","src":"http://todoable.teachable.tech/api/lists/1c22874a-2c1e-46ea-bb15-4fcbaa8d55da","id":"1c22874a-2c1e-46ea-bb15-4fcbaa8d55da"}'
  recorded_at: Thu, 18 Oct 2018 12:41:22 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/1c22874a-2c1e-46ea-bb15-4fcbaa8d55da
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="93da02cc-5c85-45d6-841b-9a0674dd8635"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"List for retrieval","items":[]}'
  recorded_at: Thu, 18 Oct 2018 12:41:25 GMT
recorded_with: VCR 4.0.0
