---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"d26ac1f4-9a8f-4c38-b4b0-e5987d75308d","expires_at":"2018-10-17T16:53:04.159Z"}'
  recorded_at: Wed, 17 Oct 2018 16:33:02 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"lets update a list"}}'
    headers:
      Authorization:
      - Token token="d26ac1f4-9a8f-4c38-b4b0-e5987d75308d"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/19c40e59-9a2d-402e-b446-d96f29b0bbdd
    body:
      encoding: UTF-8
      string: '{"name":"lets update a list","src":"http://todoable.teachable.tech/api/lists/19c40e59-9a2d-402e-b446-d96f29b0bbdd","id":"19c40e59-9a2d-402e-b446-d96f29b0bbdd"}'
  recorded_at: Wed, 17 Oct 2018 16:33:02 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/19c40e59-9a2d-402e-b446-d96f29b0bbdd
    body:
      encoding: UTF-8
      string: '{"list":{"name":"My new List"}}'
    headers:
      Authorization:
      - Token token="d26ac1f4-9a8f-4c38-b4b0-e5987d75308d"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: My new List updated
  recorded_at: Wed, 17 Oct 2018 16:33:05 GMT
recorded_with: VCR 4.0.0
