---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"4c2b954d-a16d-43c8-be52-176a98bbc6ca","expires_at":"2018-10-17T23:48:19.456Z"}'
  recorded_at: Wed, 17 Oct 2018 23:28:18 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"updating a list"}}'
    headers:
      Authorization:
      - Token token="4c2b954d-a16d-43c8-be52-176a98bbc6ca"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/83ec14b9-d0c5-47e6-8310-66b7eb4623fd
    body:
      encoding: UTF-8
      string: '{"name":"updating a list","src":"http://todoable.teachable.tech/api/lists/83ec14b9-d0c5-47e6-8310-66b7eb4623fd","id":"83ec14b9-d0c5-47e6-8310-66b7eb4623fd"}'
  recorded_at: Wed, 17 Oct 2018 23:28:18 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/83ec14b9-d0c5-47e6-8310-66b7eb4623fd
    body:
      encoding: UTF-8
      string: '{"list":{"name":"My new List"}}'
    headers:
      Authorization:
      - Token token="4c2b954d-a16d-43c8-be52-176a98bbc6ca"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: My new List updated
  recorded_at: Wed, 17 Oct 2018 23:28:25 GMT
recorded_with: VCR 4.0.0
