---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"64ad52e2-c78e-4051-ac60-af2ba47224b3","expires_at":"2018-10-18T13:17:00.456Z"}'
  recorded_at: Thu, 18 Oct 2018 12:57:00 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"the new one"}}'
    headers:
      Authorization:
      - Token token="64ad52e2-c78e-4051-ac60-af2ba47224b3"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/bfdb13d8-9045-4d62-a71e-529750d98bc5
    body:
      encoding: UTF-8
      string: '{"name":"the new one","src":"http://todoable.teachable.tech/api/lists/bfdb13d8-9045-4d62-a71e-529750d98bc5","id":"bfdb13d8-9045-4d62-a71e-529750d98bc5"}'
  recorded_at: Thu, 18 Oct 2018 12:57:00 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/bfdb13d8-9045-4d62-a71e-529750d98bc5
    body:
      encoding: UTF-8
      string: '{"list":{"name":"My new List"}}'
    headers:
      Authorization:
      - Token token="64ad52e2-c78e-4051-ac60-af2ba47224b3"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: My new List updated
  recorded_at: Thu, 18 Oct 2018 12:57:09 GMT
recorded_with: VCR 4.0.0
