---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"99c03292-e71b-4a78-819e-92fcc620b503","expires_at":"2018-10-17T20:18:47.855Z"}'
  recorded_at: Wed, 17 Oct 2018 19:58:48 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Another list for testing"}}'
    headers:
      Authorization:
      - Token token="99c03292-e71b-4a78-819e-92fcc620b503"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/da0e66c7-d35f-4749-8efb-f38dbede2bad
    body:
      encoding: UTF-8
      string: '{"name":"Another list for testing","src":"http://todoable.teachable.tech/api/lists/da0e66c7-d35f-4749-8efb-f38dbede2bad","id":"da0e66c7-d35f-4749-8efb-f38dbede2bad"}'
  recorded_at: Wed, 17 Oct 2018 19:58:48 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/da0e66c7-d35f-4749-8efb-f38dbede2bad/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"New item"}}'
    headers:
      Authorization:
      - Token token="99c03292-e71b-4a78-819e-92fcc620b503"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/da0e66c7-d35f-4749-8efb-f38dbede2bad/items/a2b7c704-2326-4160-9ab4-81755c0a6f8b
    body:
      encoding: UTF-8
      string: '{"name":"New item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/da0e66c7-d35f-4749-8efb-f38dbede2bad/items/a2b7c704-2326-4160-9ab4-81755c0a6f8b","id":"a2b7c704-2326-4160-9ab4-81755c0a6f8b"}'
  recorded_at: Wed, 17 Oct 2018 19:58:48 GMT
recorded_with: VCR 4.0.0
