---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"0252abba-3a7e-4fac-bad0-e0aff7922d2d","expires_at":"2018-10-18T13:11:31.667Z"}'
  recorded_at: Thu, 18 Oct 2018 12:51:31 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="0252abba-3a7e-4fac-bad0-e0aff7922d2d"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"name":"List 1","src":"http://todoable.teachable.tech/api/lists/9718d581-4b06-4db8-adae-ae8db28dc1da","id":"9718d581-4b06-4db8-adae-ae8db28dc1da"},{"name":"List
        2","src":"http://todoable.teachable.tech/api/lists/41c68192-ecee-4040-8f50-3357b1236de6","id":"41c68192-ecee-4040-8f50-3357b1236de6"},{"name":"Updated
        name","src":"http://todoable.teachable.tech/api/lists/a269e524-ac7a-4ba5-8b75-08650a1854f7","id":"a269e524-ac7a-4ba5-8b75-08650a1854f7"},{"name":"List
        3","src":"http://todoable.teachable.tech/api/lists/4477011a-a73e-45ba-8ebd-342164564212","id":"4477011a-a73e-45ba-8ebd-3[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/ec4dc707-2898-40b7-a2dc-10c3b9923bf7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="0252abba-3a7e-4fac-bad0-e0aff7922d2d"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 12:51:34 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Another list for testing"}}'
    headers:
      Authorization:
      - Token token="0252abba-3a7e-4fac-bad0-e0aff7922d2d"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/486f54be-5917-4a7a-b263-b2674e7edf6b
    body:
      encoding: UTF-8
      string: '{"name":"Another list for testing","src":"http://todoable.teachable.tech/api/lists/486f54be-5917-4a7a-b263-b2674e7edf6b","id":"486f54be-5917-4a7a-b263-b2674e7edf6b"}'
  recorded_at: Thu, 18 Oct 2018 12:51:37 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/486f54be-5917-4a7a-b263-b2674e7edf6b/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"New item"}}'
    headers:
      Authorization:
      - Token token="0252abba-3a7e-4fac-bad0-e0aff7922d2d"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/486f54be-5917-4a7a-b263-b2674e7edf6b/items/0c40be1d-af89-45bb-8717-c478fa92e812
    body:
      encoding: UTF-8
      string: '{"name":"New item","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/486f54be-5917-4a7a-b263-b2674e7edf6b/items/0c40be1d-af89-45bb-8717-c478fa92e812","id":"0c40be1d-af89-45bb-8717-c478fa92e812"}'
  recorded_at: Thu, 18 Oct 2018 12:51:41 GMT
recorded_with: VCR 4.0.0
