---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"0a3b6ee2-4d1e-4a82-b8f7-0b53c3d2b1de","expires_at":"2018-10-18T00:12:15.255Z"}'
  recorded_at: Wed, 17 Oct 2018 23:52:14 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list for todoable"}}'
    headers:
      Authorization:
      - Token token="0a3b6ee2-4d1e-4a82-b8f7-0b53c3d2b1de"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/e86e2b52-0874-4e36-9128-766764ba9d45
    body:
      encoding: UTF-8
      string: '{"name":"list for todoable","src":"http://todoable.teachable.tech/api/lists/e86e2b52-0874-4e36-9128-766764ba9d45","id":"e86e2b52-0874-4e36-9128-766764ba9d45"}'
  recorded_at: Wed, 17 Oct 2018 23:52:14 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/e86e2b52-0874-4e36-9128-766764ba9d45
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Updated name"}}'
    headers:
      Authorization:
      - Token token="0a3b6ee2-4d1e-4a82-b8f7-0b53c3d2b1de"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Updated name updated
  recorded_at: Wed, 17 Oct 2018 23:52:17 GMT
recorded_with: VCR 4.0.0
