---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"49215d5a-2b26-4c2e-99e7-fb9012382499","expires_at":"2018-10-17T16:24:12.174Z"}'
  recorded_at: Wed, 17 Oct 2018 16:04:10 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List to be updated"}}'
    headers:
      Authorization:
      - Token token="49215d5a-2b26-4c2e-99e7-fb9012382499"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/6b95a849-c3cf-4f3a-bcb6-7441818842e6
    body:
      encoding: UTF-8
      string: '{"name":"List to be updated","src":"http://todoable.teachable.tech/api/lists/6b95a849-c3cf-4f3a-bcb6-7441818842e6","id":"6b95a849-c3cf-4f3a-bcb6-7441818842e6"}'
  recorded_at: Wed, 17 Oct 2018 16:04:10 GMT
recorded_with: VCR 4.0.0
