---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"6e3f4128-6124-4dce-bb7b-3390fa18cc41","expires_at":"2018-10-18T13:02:23.857Z"}'
  recorded_at: Thu, 18 Oct 2018 12:42:23 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="6e3f4128-6124-4dce-bb7b-3390fa18cc41"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"name":"List 1","src":"http://todoable.teachable.tech/api/lists/9718d581-4b06-4db8-adae-ae8db28dc1da","id":"9718d581-4b06-4db8-adae-ae8db28dc1da"},{"name":"List
        2","src":"http://todoable.teachable.tech/api/lists/41c68192-ecee-4040-8f50-3357b1236de6","id":"41c68192-ecee-4040-8f50-3357b1236de6"},{"name":"List
        3","src":"http://todoable.teachable.tech/api/lists/4477011a-a73e-45ba-8ebd-342164564212","id":"4477011a-a73e-45ba-8ebd-342164564212"},{"name":"List
        4","src":"http://todoable.teachable.tech/api/lists/be28b871-474f-44ce-b0cf-f70fcfedbabc","id":"be28b871-474f-44ce-b0cf-f70fcfe[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/939329a1-7320-4f26-9fe2-9ad1854a9493
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="6e3f4128-6124-4dce-bb7b-3390fa18cc41"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 12:42:29 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/
    body:
      encoding: UTF-8
      string: '{"list":{"name":"list for todoable"}}'
    headers:
      Authorization:
      - Token token="6e3f4128-6124-4dce-bb7b-3390fa18cc41"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/a269e524-ac7a-4ba5-8b75-08650a1854f7
    body:
      encoding: UTF-8
      string: '{"name":"list for todoable","src":"http://todoable.teachable.tech/api/lists/a269e524-ac7a-4ba5-8b75-08650a1854f7","id":"a269e524-ac7a-4ba5-8b75-08650a1854f7"}'
  recorded_at: Thu, 18 Oct 2018 12:42:32 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/a269e524-ac7a-4ba5-8b75-08650a1854f7
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Updated name"}}'
    headers:
      Authorization:
      - Token token="6e3f4128-6124-4dce-bb7b-3390fa18cc41"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Updated name updated
  recorded_at: Thu, 18 Oct 2018 12:42:32 GMT
recorded_with: VCR 4.0.0
