---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"a1e652a7-4969-4576-947e-2b8b5ad33325","expires_at":"2018-10-16T12:33:56.684Z"}'
  recorded_at: Tue, 16 Oct 2018 12:13:57 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List 1"}}'
    headers:
      Authorization:
      - Token token="a1e652a7-4969-4576-947e-2b8b5ad33325"
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":["has already been taken"]}'
  recorded_at: Tue, 16 Oct 2018 12:13:57 GMT
[...]
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="a1e652a7-4969-4576-947e-2b8b5ad33325"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"Todo 5","src":"http://todoable.teachable.tech/api/lists/084a6c73-be6b-4137-a762-43928a07e242","id":"084a6c73-be6b-4137-a762-43928a07e242"},{"name":"Todo
        1","src":"http://todoable.teachable.tech/api/lists/e0809de1-b00e-49fc-88ef-7e30e5b93551","id":"e0809de1-b00e-49fc-88ef-7e30e5b93551"},{"name":"Todo
        2","src":"http://todoable.teachable.tech/api/lists/24e888b9-322c-4791-8cb2-92cbefa83f14","id":"24e888b9-322c-4791-8cb2-92cbefa83f14"},{"name":"Todo
        3","src":"http://todoable.teachable.tech/api/lists/58878311-d1cc-404e-9144-170252508b3c","id":"58878311-d1cc-404e-9144-170252508b3c"},{"name":"List
        1","src":"http://todoable.teachable.tech/api/lists/2ba37be0-5fea-4316-8a92-b216597e85e4","id":"2ba37be0-5fea-4316-8a92-b216597e85e4"},{"name":"Todo
        4","src":"http://todoable.teachable.tech/api/lists/e783b8c8-cba7-4bb5-ae86-e8ecf5bb797d","id":"e783b8c8-cba7-4bb5-ae86-e8ecf5bb797d"},{"name":"List
        2","src":"http://todoable.teachable.tech/api/lists/f0c4c42b-dd83-4ccf-bc2e-5113602c14d1","id":"f0c4c42b-dd83-4ccf-bc2e-5113602c14d1"},{"name":"List
        3","src":"http://todoable.teachable.tech/api/lists/7fe73cf7-d53e-44fe-ab8f-fa555a01eaf7","id":"7fe73cf7-d53e-44fe-ab8f-fa555a01eaf7"},{"name":"List
        4","src":"http://todoable.teachable.tech/api/lists/bb69da6d-7299-47e9-9193-1fcbe6d90a3b","id":"bb69da6d-7299-47e9-9193-1fcbe6d90a3b"},{"name":"List
        5","src":"http://todoable.teachable.tech/api/lists/cf6eae9e-8ac8-40a0-bd02-36cfd455ee42","id":"cf6eae9e-8ac8-40a0-bd02-36cfd455ee42"}]}'
  recorded_at: Tue, 16 Oct 2018 12:13:57 GMT
recorded_with: VCR 4.0.0
