---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"79dd660a-6153-42d9-ba29-4b9bc3894e1e","expires_at":"2018-10-14T20:20:54.548Z"}'
  recorded_at: Sun, 14 Oct 2018 20:00:54 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Todo 1"}}'
    headers:
      Authorization:
      - Token token="79dd660a-6153-42d9-ba29-4b9bc3894e1e"
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":["has already been taken"]}'
  recorded_at: Sun, 14 Oct 2018 20:00:54 GMT
[...]
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="77fd155a-b01e-452b-90e7-caf7bc116e92"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"Todo 5","src":"http://todoable.teachable.tech/api/lists/084a6c73-be6b-4137-a762-43928a07e242","id":"084a6c73-be6b-4137-a762-43928a07e242"},{"name":"Todo
        1","src":"http://todoable.teachable.tech/api/lists/e0809de1-b00e-49fc-88ef-7e30e5b93551","id":"e0809de1-b00e-49fc-88ef-7e30e5b93551"},{"name":"Todo
        2","src":"http://todoable.teachable.tech/api/lists/24e888b9-322c-4791-8cb2-92cbefa83f14","id":"24e888b9-322c-4791-8cb2-92cbefa83f14"},{"name":"Todo
        3","src":"http://todoable.teachable.tech/api/lists/58878311-d1cc-404e-9144-170252508b3c","id":"58878311-d1cc-404e-9144-170252508b3c"},{"name":"Todo
        4","src":"http://todoable.teachable.tech/api/lists/e783b8c8-cba7-4bb5-ae86-e8ecf5bb797d","id":"e783b8c8-cba7-4bb5-ae86-e8ecf5bb797d"}]}'
  recorded_at: Sun, 14 Oct 2018 20:00:58 GMT
recorded_with: VCR 4.0.0
