---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"ccff0a91-7f55-43ae-8adc-0d41d663183d","expires_at":"2018-10-18T12:56:12.855Z"}'
  recorded_at: Thu, 18 Oct 2018 12:36:12 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="ccff0a91-7f55-43ae-8adc-0d41d663183d"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"name":"List 4","src":"http://todoable.teachable.tech/api/lists/e1ebc2d0-9f22-409c-8c84-d0266946b5d8","id":"e1ebc2d0-9f22-409c-8c84-d0266946b5d8"},{"name":"List
        1","src":"http://todoable.teachable.tech/api/lists/419d8090-020e-40e2-a26e-b950d640b4fa","id":"419d8090-020e-40e2-a26e-b950d640b4fa"},{"name":"List
        5","src":"http://todoable.teachable.tech/api/lists/0f165802-3eaf-424e-947a-a5e2e30aca15","id":"0f165802-3eaf-424e-947a-a5e2e30aca15"},{"name":"List
        2","src":"http://todoable.teachable.tech/api/lists/5409b9dd-9743-4353-b975-ecf58d37d589","id":"5409b9dd-9743-4353-b975-ecf58d3[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/9b0f0901-9e24-45a4-84ec-fc877b7b14b8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="ccff0a91-7f55-43ae-8adc-0d41d663183d"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 12:37:40 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Testing List"}}'
    headers:
      Authorization:
      - Token token="ccff0a91-7f55-43ae-8adc-0d41d663183d"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/63bfa7c2-db8d-47f3-927b-f64704299a0c
    body:
      encoding: UTF-8
      string: '{"name":"Testing List","src":"http://todoable.teachable.tech/api/lists/63bfa7c2-db8d-47f3-927b-f64704299a0c","id":"63bfa7c2-db8d-47f3-927b-f64704299a0c"}'
  recorded_at: Thu, 18 Oct 2018 12:37:43 GMT
recorded_with: VCR 4.0.0
