---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"7de35059-2f67-4619-9193-935219cecdba","expires_at":"2018-10-17T14:20:39.808Z"}'
  recorded_at: Wed, 17 Oct 2018 14:00:39 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="7de35059-2f67-4619-9193-935219cecdba"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"My new List","src":"http://todoable.teachable.tech/api/lists/7ad41da8-1e81-4636-ae7f-5f2905974c31","id":"7ad41da8-1e81-4636-ae7f-5f2905974c31"},{"name":"List
        1","src":"http://todoable.teachable.tech/api/lists/d25ff8b5-99c1-4cca-b801-98e2a6fe03ec","id":"d25ff8b5-99c1-4cca-b801-98e2a6fe03ec"},{"name":"List
        2","src":"http://todoable.teachable.tech/api/lists/e937a721-b11e-48dc-aaf6-3a2592d557d1","id":"e937a721-b11e-48dc-aaf6-3a2592d557d1"},{"name":"List
        3","src":"http://todoable.teachable.tech/api/lists/8f850b3c-bb88-45b9-8d4d-e0fce93d16c6","id":"8f850b3c-bb88-45b9-8d4d-e0fce93[...]
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/1bf385e6-2ad8-403f-86c0-0a5365752336
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="7de35059-2f67-4619-9193-935219cecdba"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 17 Oct 2018 14:00:40 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Testing List"}}'
    headers:
      Authorization:
      - Token token="7de35059-2f67-4619-9193-935219cecdba"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/929bda84-b2e2-459f-b62d-4d76f58e96f0
    body:
      encoding: UTF-8
      string: '{"name":"Testing List","src":"http://todoable.teachable.tech/api/lists/929bda84-b2e2-459f-b62d-4d76f58e96f0","id":"929bda84-b2e2-459f-b62d-4d76f58e96f0"}'
  recorded_at: Wed, 17 Oct 2018 14:00:40 GMT
recorded_with: VCR 4.0.0
