---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"b843fac3-7947-45c1-b978-f9b670407504","expires_at":"2018-10-18T01:13:21.463Z"}'
  recorded_at: Thu, 18 Oct 2018 00:53:20 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="b843fac3-7947-45c1-b978-f9b670407504"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"name":"List 1","src":"http://todoable.teachable.tech/api/lists/e1c705e5-a2ac-4595-8101-ed1d6ac46b60","id":"e1c705e5-a2ac-4595-8101-ed1d6ac46b60"},{"name":"Another
        list for testing","src":"http://todoable.teachable.tech/api/lists/ec4dc707-2898-40b7-a2dc-10c3b9923bf7","id":"ec4dc707-2898-40b7-a2dc-10c3b9923bf7"},{"name":"Testing
        List","src":"http://todoable.teachable.tech/api/lists/79fc481b-e723-4e52-a6b0-4e71957ac3e3","id":"79fc481b-e723-4e52-a6b0-4e71957ac3e3"},{"name":"list
        for todoable","src":"http://todoable.teachable.tech/api/lists/939329a1-7320-4f26-9fe2-9ad1854a9493","id":"939329a1-7320-4f26-9fe2-9ad1854a9493"}]}'
  recorded_at: Thu, 18 Oct 2018 00:53:20 GMT
recorded_with: VCR 4.0.0
