---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic Z2VvcmdlLnJhZmFlbEBnbWFpbC5jb206dG9kb2FibGU=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"63a81429-e4d1-4e9e-a9e9-6e9ac9e4793f","expires_at":"2018-10-18T22:27:49.561Z"}'
  recorded_at: Thu, 18 Oct 2018 22:07:49 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Deleting item list"}}'
    headers:
      Authorization:
      - Token token="63a81429-e4d1-4e9e-a9e9-6e9ac9e4793f"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/ffd43a86-2247-4730-aa1a-48e539eae6e0
    body:
      encoding: UTF-8
      string: '{"name":"Deleting item list","src":"http://todoable.teachable.tech/api/lists/ffd43a86-2247-4730-aa1a-48e539eae6e0","id":"ffd43a86-2247-4730-aa1a-48e539eae6e0"}'
  recorded_at: Thu, 18 Oct 2018 22:07:55 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/ffd43a86-2247-4730-aa1a-48e539eae6e0/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Delete Me!"}}'
    headers:
      Authorization:
      - Token token="63a81429-e4d1-4e9e-a9e9-6e9ac9e4793f"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/ffd43a86-2247-4730-aa1a-48e539eae6e0/items/6f39ef64-e5d5-4d26-83ed-50d5d4149a24
    body:
      encoding: UTF-8
      string: '{"name":"Delete Me!","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/ffd43a86-2247-4730-aa1a-48e539eae6e0/items/6f39ef64-e5d5-4d26-83ed-50d5d4149a24","id":"6f39ef64-e5d5-4d26-83ed-50d5d4149a24"}'
  recorded_at: Thu, 18 Oct 2018 22:08:07 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/ffd43a86-2247-4730-aa1a-48e539eae6e0/items/6f39ef64-e5d5-4d26-83ed-50d5d4149a24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="63a81429-e4d1-4e9e-a9e9-6e9ac9e4793f"
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 18 Oct 2018 22:08:54 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/ffd43a86-2247-4730-aa1a-48e539eae6e0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="63a81429-e4d1-4e9e-a9e9-6e9ac9e4793f"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Deleting item list","items":[]}'
  recorded_at: Thu, 18 Oct 2018 22:09:01 GMT
recorded_with: VCR 4.0.0
